
#notice-popup{
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	max-width: 90%;
	background: #ffffff;
	border: 1px solid #dddddd;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	z-index: 100000;
	border-radius: 10px;
	overflow: hidden ;
}
