:root{
	--popup-back: color-mix(in srgb, var(--background-color) 60%, transparent);
	--close-button-hover:#7f89b2;
}


/* 팝업창 뒤 배경 한 겹 */
#notice-popup {
	position: fixed;
	top: 0 ;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--popup-back);
	z-index: 100000;
}

/* 유저가 보고 움직일 하얀색 상자 */
.popup-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	max-width: 90%;
	background: var(--card-background-color);
	border: 1px solid var(--line-color);
	box-shadow: 0 10px 30px var(--box-shadow-color);
	border-radius: 10px;
	overflow: hidden;
}

/* 마우스로 잡고 움직일 상단 제목 영역 (드래그 핸들) */
#drag-handle{
	background: var(--th-back-color);
	padding: 12px 20px;
	cursor: move; /* 마우스 커서를 이동 모양으로 변경 */
	user-select: none; /* 드래그할 때 텍스트 블록 지정 방지 */
	display: flex;
	position: relative;
}

#drag-handle p,
.content-body p{
	margin: 0;
}

#drag-handle button{
	position: absolute;
	right: 0;
	background: none;
	border: none;
	font-size: x-large;
	color: var(--text-color);
}

#drag-handle button:hover{
	color: var(--close-button-hover);
}

.content-body{
	padding:20px;
}

.popup-box .footer{
	background: var(--th-back-color);
	padding: 12px 20px;
	cursor: pointer;
}
